@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

html {
  transition: background-color 0.4s ease, color 0.4s ease;
}
* {
  transition: background-color 0.4s ease,
              color 0.4s ease,
              border-color 0.4s ease,
              fill 0.4s ease;
}

.active{
  background-color: royalblue;
  color: white;
}
.active:hover{
  background-color: blue !important;
  color: white;
}
